node_modules/
.DS_Store
dist/
production/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
tests/**/coverage/

deploy_versions/
.temp/
.rn_temp/

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln

types/auto-imports.d.ts
types/components.d.ts
